.seu-col {
  float: left;
  box-sizing: border-box;
}

.seu-col-1 {
  width: 4.166666666666667%;
}
.seu-col-2 {
  width: 8.333333333333334%;
}
.seu-col-3 {
  width: 12.5%;
}
.seu-col-4 {
  width: 16.666666666666668%;
}
.seu-col-5 {
  width: 20.833333333333332%;
}
.seu-col-6 {
  width: 25%;
}
.seu-col-7 {
  width: 29.166666666666668%;
}
.seu-col-8 {
  width: 33.333333333333336%;
}
.seu-col-9 {
  width: 37.5%;
}
.seu-col-10 {
  width: 41.666666666666664%;
}
.seu-col-11 {
  width: 45.833333333333336%;
}
.seu-col-12 {
  width: 50%;
}
.seu-col-13 {
  width: 54.166666666666664%;
}
.seu-col-14 {
  width: 58.333333333333336%;
}
.seu-col-15 {
  width: 62.5%;
}
.seu-col-16 {
  width: 66.66666666666667%;
}
.seu-col-17 {
  width: 70.83333333333333%;
}
.seu-col-18 {
  width: 75%;
}
.seu-col-19 {
  width: 79.16666666666667%;
}
.seu-col-20 {
  width: 83.33333333333333%;
}
.seu-col-21 {
  width: 87.5%;
}
.seu-col-22 {
  width: 91.66666666666667%;
}
.seu-col-23 {
  width: 95.83333333333333%;
}
.seu-col-24 {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .seu-col-xs-1 {
    width: 4.16667%;
  }
  .seu-col-xs-2 {
    width: 8.33333%;
  }
  .seu-col-xs-3 {
    width: 12.5%;
  }
  .seu-col-xs-4 {
    width: 16.66667%;
  }
  .seu-col-xs-5 {
    width: 20.83333%;
  }
  .seu-col-xs-6 {
    width: 25%;
  }
  .seu-col-xs-7 {
    width: 29.16667%;
  }
  .seu-col-xs-8 {
    width: 33.33333%;
  }
  .seu-col-xs-9 {
    width: 37.5%;
  }
  .seu-col-xs-10 {
    width: 41.66667%;
  }
  .seu-col-xs-11 {
    width: 45.83333%;
  }
  .seu-col-xs-12 {
    width: 50%;
  }
  .seu-col-xs-13 {
    width: 54.16667%;
  }
  .seu-col-xs-14 {
    width: 58.33333%;
  }
  .seu-col-xs-15 {
    width: 62.5%;
  }
  .seu-col-xs-16 {
    width: 66.66667%;
  }
  .seu-col-xs-17 {
    width: 70.83333%;
  }
  .seu-col-xs-18 {
    width: 75%;
  }
  .seu-col-xs-19 {
    width: 79.16667%;
  }
  .seu-col-xs-20 {
    width: 83.33333%;
  }
  .seu-col-xs-21 {
    width: 87.5%;
  }
  .seu-col-xs-22 {
    width: 91.66667%;
  }
  .seu-col-xs-23 {
    width: 95.83333%;
  }
  .seu-col-xs-24 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .seu-col-sm-1 {
    width: 4.16667%;
  }
  .seu-col-sm-2 {
    width: 8.33333%;
  }
  .seu-col-sm-3 {
    width: 12.5%;
  }
  .seu-col-sm-4 {
    width: 16.66667%;
  }
  .seu-col-sm-5 {
    width: 20.83333%;
  }
  .seu-col-sm-6 {
    width: 25%;
  }
  .seu-col-sm-7 {
    width: 29.16667%;
  }
  .seu-col-sm-8 {
    width: 33.33333%;
  }
  .seu-col-sm-9 {
    width: 37.5%;
  }
  .seu-col-sm-10 {
    width: 41.66667%;
  }
  .seu-col-sm-11 {
    width: 45.83333%;
  }
  .seu-col-sm-12 {
    width: 50%;
  }
  .seu-col-sm-13 {
    width: 54.16667%;
  }
  .seu-col-sm-14 {
    width: 58.33333%;
  }
  .seu-col-sm-15 {
    width: 62.5%;
  }
  .seu-col-sm-16 {
    width: 66.66667%;
  }
  .seu-col-sm-17 {
    width: 70.83333%;
  }
  .seu-col-sm-18 {
    width: 75%;
  }
  .seu-col-sm-19 {
    width: 79.16667%;
  }
  .seu-col-sm-20 {
    width: 83.33333%;
  }
  .seu-col-sm-21 {
    width: 87.5%;
  }
  .seu-col-sm-22 {
    width: 91.66667%;
  }
  .seu-col-sm-23 {
    width: 95.83333%;
  }
  .seu-col-sm-24 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .seu-col-md-1 {
    width: 4.16667%;
  }
  .seu-col-md-2 {
    width: 8.33333%;
  }
  .seu-col-md-3 {
    width: 12.5%;
  }
  .seu-col-md-4 {
    width: 16.66667%;
  }
  .seu-col-md-5 {
    width: 20.83333%;
  }
  .seu-col-md-6 {
    width: 25%;
  }
  .seu-col-md-7 {
    width: 29.16667%;
  }
  .seu-col-md-8 {
    width: 33.33333%;
  }
  .seu-col-md-9 {
    width: 37.5%;
  }
  .seu-col-md-10 {
    width: 41.66667%;
  }
  .seu-col-md-11 {
    width: 45.83333%;
  }
  .seu-col-md-12 {
    width: 50%;
  }
  .seu-col-md-13 {
    width: 54.16667%;
  }
  .seu-col-md-14 {
    width: 58.33333%;
  }
  .seu-col-md-15 {
    width: 62.5%;
  }
  .seu-col-md-16 {
    width: 66.66667%;
  }
  .seu-col-md-17 {
    width: 70.83333%;
  }
  .seu-col-md-18 {
    width: 75%;
  }
  .seu-col-md-19 {
    width: 79.16667%;
  }
  .seu-col-md-20 {
    width: 83.33333%;
  }
  .seu-col-md-21 {
    width: 87.5%;
  }
  .seu-col-md-22 {
    width: 91.66667%;
  }
  .seu-col-md-23 {
    width: 95.83333%;
  }
  .seu-col-md-24 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .seu-col-lg-1 {
    width: 4.16667%;
  }
  .seu-col-lg-2 {
    width: 8.33333%;
  }
  .seu-col-lg-3 {
    width: 12.5%;
  }
  .seu-col-lg-4 {
    width: 16.66667%;
  }
  .seu-col-lg-5 {
    width: 20.83333%;
  }
  .seu-col-lg-6 {
    width: 25%;
  }
  .seu-col-lg-7 {
    width: 29.16667%;
  }
  .seu-col-lg-8 {
    width: 33.33333%;
  }
  .seu-col-lg-9 {
    width: 37.5%;
  }
  .seu-col-lg-10 {
    width: 41.66667%;
  }
  .seu-col-lg-11 {
    width: 45.83333%;
  }
  .seu-col-lg-12 {
    width: 50%;
  }
  .seu-col-lg-13 {
    width: 54.16667%;
  }
  .seu-col-lg-14 {
    width: 58.33333%;
  }
  .seu-col-lg-15 {
    width: 62.5%;
  }
  .seu-col-lg-16 {
    width: 66.66667%;
  }
  .seu-col-lg-17 {
    width: 70.83333%;
  }
  .seu-col-lg-18 {
    width: 75%;
  }
  .seu-col-lg-19 {
    width: 79.16667%;
  }
  .seu-col-lg-20 {
    width: 83.33333%;
  }
  .seu-col-lg-21 {
    width: 87.5%;
  }
  .seu-col-lg-22 {
    width: 91.66667%;
  }
  .seu-col-lg-23 {
    width: 95.83333%;
  }
  .seu-col-lg-24 {
    width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .seu-col-xl-1 {
    width: 4.16667%;
  }
  .seu-col-xl-2 {
    width: 8.33333%;
  }
  .seu-col-xl-3 {
    width: 12.5%;
  }
  .seu-col-xl-4 {
    width: 16.66667%;
  }
  .seu-col-xl-5 {
    width: 20.83333%;
  }
  .seu-col-xl-6 {
    width: 25%;
  }
  .seu-col-xl-7 {
    width: 29.16667%;
  }
  .seu-col-xl-8 {
    width: 33.33333%;
  }
  .seu-col-xl-9 {
    width: 37.5%;
  }
  .seu-col-xl-10 {
    width: 41.66667%;
  }
  .seu-col-xl-11 {
    width: 45.83333%;
  }
  .seu-col-xl-12 {
    width: 50%;
  }
  .seu-col-xl-13 {
    width: 54.16667%;
  }
  .seu-col-xl-14 {
    width: 58.33333%;
  }
  .seu-col-xl-15 {
    width: 62.5%;
  }
  .seu-col-xl-16 {
    width: 66.66667%;
  }
  .seu-col-xl-17 {
    width: 70.83333%;
  }
  .seu-col-xl-18 {
    width: 75%;
  }
  .seu-col-xl-19 {
    width: 79.16667%;
  }
  .seu-col-xl-20 {
    width: 83.33333%;
  }
  .seu-col-xl-21 {
    width: 87.5%;
  }
  .seu-col-xl-22 {
    width: 91.66667%;
  }
  .seu-col-xl-23 {
    width: 95.83333%;
  }
  .seu-col-xl-24 {
    width: 100%;
  }
}
