:root {
  --color-primary: #409eff;

  --background-color-base: #f5f7fa;
  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;

  --background-color-base: #f5f7fa;

  --color-text-placeholder: #c0c4cc;

  --border-radius-base: 4px;

  --border-width-base: 1px;
  --border-style-base: solid;
  --border-color-base: #dcdfe6;
  --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);

  /* radio */
  --radio-bordered-padding: 12px 20px 0 10px;
  --radio-bordered-height: 40px;
}
